services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/usr/src/app:ro
    command: ["npm", "start"]

  frontend:
    build:
      context: ./frontend
    environment:
      - REACT_APP_API_URL=http://backend:5000
    ports:
      - "3000:80"
    depends_on:
      - backend
